<ul>
	<% @contacts_alpha.each do |contact| %>
			<li><%= "Name: " + contact.name %></li>
			<li><%= "Address: " + contact.address %></li>
			<li><%= "Phone Number: " + contact.phone %></li>
			<li><%= "E-mail: " + contact.email %></li>
			<p>---------------------------------</p>
	<% end %>
</ul>

<%= link_to "Add a new contact", "/contacts/new" %>